Source: cwidget
Priority: extra
Section: libs
Homepage: http://cwidget.alioth.debian.org
Vcs-Git: git://git.debian.org/cwidget/debian
Vcs-Browser: http://git.debian.org/?p=cwidget/debian/.git;a=summary
Maintainer: Daniel Burrows <dburrows@debian.org>
Build-Depends: debhelper (>= 5.0.0), libsigc++-2.0-dev,
 libncursesw5-dev, gettext, g++ (>= 4:3.2.2-0), libcppunit-dev
Build-Depends-Indep: doxygen, ikiwiki, libhtml-scrubber-perl
Standards-Version: 3.7.2.2

Package: libcwidget2
Architecture: any
Priority: important
Depends: ${shlibs:Depends}
Suggests: libcwidget-dev
Description: high-level terminal interface library for C++ (runtime files)
 libcwidget is a modern user interface library modeled on GTK+ and Qt,
 but using curses as its display layer and with widgets that are
 tailored to a terminal environment.
 .
 This package contains the files that are required to run programs
 compiled against libcwidget.

Package: libcwidget2-dbg
Architecture: any
Priority: extra
Section: libdevel
Depends: libcwidget2 (= ${binary:Version})
Suggests: libcwidget-dev
Description: high-level terminal interface library for C++ (debugging files)
 libcwidget is a modern user interface library modeled on GTK+ and Qt,
 but using curses as its display layer and with widgets that are
 tailored to a terminal environment.
 .
 This package contains debugging symbols for libcwidget-dbg.  It is
 only needed if you want to generate useful backtraces for programs
 using cwidget.

Package: libcwidget-dev
Architecture: any
Priority: extra
Section: libdevel
Depends: libcwidget2 (= ${binary:Version}), libsigc++-2.0-dev, libncursesw5-dev, pkg-config
Suggests: libcwidget-doc
Description: high-level terminal interface library for C++ (development files)
 libcwidget is a modern user interface library modeled on GTK+ and Qt,
 but using curses as its display layer and with widgets that are
 tailored to a terminal environment.
 .
 This package contains files that are needed to write or compile
 software that uses libcwidget.
 .
 WARNING: this is a newly created library whose development is closely
 tied to the development of aptitude.  Its API may be incomplete and
 is likely to change considerably version-over-version!  You may want
 to avoid cwidget for stable projects.

Package: libcwidget-doc
Architecture: all
Priority: extra
Section: doc
Recommends: iceweasel | www-browser
Suggests: libcwidget-dev
Description: high-level terminal interface library for C++ (documentation)
 libcwidget is a modern user interface library modeled on GTK+ and Qt,
 but using curses as its display layer and with widgets that are
 tailored to a terminal environment.
 .
 This package contains documentation for libcwidget, in HTML format.
